@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');


* {
    
    padding: auto;
    font-family: 'Ultra', serif;
    margin: 0;
}

.container {
    color: #595959;

}



/* Nav Bar */


.navbar-top {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    padding: 40px 10px;
    background-color:#595959;
    
}


.navlist-logo {
    padding: 1rem 1rem;
    text-align: center;
    justify-self: center;

}

.navlist {
    padding: 1rem 1rem;
    text-align: center;
    justify-self: center;
    color: white;
    
}

.navlist-link,
.navlist-logo-link {
    text-decoration: none;
    color: white;
}

.navlist:hover,
.navlist-link:hover {
    background-color: black;
    border-radius: 0.6rem;
}

/* Articles */

.center-text {
    margin: 0 33.333%;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 2rem;
    place-content: center center;
    
    
}

#center {
    background-color: black;
    position: absolute;
    width: 33.333%;
    justify-content: center;
    align-content: center;
    
    
}

.articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid #444;
    background-color: #595959;
    
}

.main-article-list {
    border: 1px solid #444;
    padding: 10rem 1rem;
    color: white;
    
}

.author-name {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 5px 5px;
}

.hashtag {
    display: flex;
}

/* Sub Articles */

.articles2 {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.articles-list {
    padding: 2rem 2rem;
}

.articles-list:hover {
    transform: scale(1.1);
    border-radius: 8px;
    border: 1px solid black;
    transition: all .2s ease-out;
    background-color: white;
}

.articles3 {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    
}

.article-ad {
    padding: 10px 20px;
    text-align: center;
    justify-content: center;
    align-content: center;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 20px;
    background-color: #595959;
    color: white;
    line-height: 3rem;
}

#article-ad-link {
    color: white;
}


.articles4 {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 2fr;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    
}

/* Table of Contens */

.table-of-contents {
    background-color: #595959;
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 5rem 10rem;
}

.table-of-contents-text {
    color: white;
    padding: 2rem;
}

#date {
    font-size: 1rem;
    font-weight: lighter;
}

.person-of-the-week {
    margin: 5rem 5rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
}


/* Testimonies */

.testimony-list {
    display: grid;
    grid-template-columns: 20% 80%;
}


.testimonies {
    margin: 5rem 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
}



/* Featured Book */

.featured-book {
    background-color: #595959;
    color: white;
    padding: 5rem 5rem;
    line-height: 5rem;
    display: grid;
    grid-template-columns: 70% 30%;
}


/* More Topics */
.more-topics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5rem;
    margin: 5rem 5rem;
}

.topics {
    border: 1px solid #595959;
    padding: 20px 20px;
    line-height: 4rem;
    border-radius: 1rem;
}

.topics-text {
    font-size: 20px;
    line-height: 1.5rem;

}

.topic-buttons {
    background-color: #595959;
    color: white;
    padding: 30px 30px;
    margin: 2rem 2rem;
}

/* Footer */

.footer-area {
    background-color: #595959;
    color: white;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 2rem 2rem;
}

.footer-links {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    
}

.footer-links-text {
    color: white;
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    list-style-type: circle;
}

.footer-links-text:hover {
    color: #777;
}

.footer-text {
    line-height: 1.5rem;
    font-size: 12px;
}

.footer-links2 {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  
}

.footer-links-text2 {
    color: white;
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    list-style-type: circle;
    text-decoration: underline;
}

.footer-links-text2:hover {
    color: #777;
}

/* NewsLetter */

.newsletter {
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-left: 33.333%;
}

.newsletter-box {
    padding: 2rem 2rem;
    border-radius: 1rem;
    background-color: #595959;
    color: white;
    border: 1px solid white;
    width: 50%;
}

.email-box {
    display: flex;
    justify-content: center;
    align-content: center;

}

.newsletter-footer {
    font-size: 10px;
    border-radius: 1.5rem;
    background-color: black;
    margin: 1rem 1rem;

    
}

/* Utilities */

ul {
    list-style: none;
}


a {
    text-decoration: none;
    background-color: inherit;
    color: #595959;
}


input {
    padding: 1rem 2rem;
    border-radius: 1rem;
}

::placeholder {
    color: #595959;
}

button {
    padding: 15px 15px;
    background-color: white;
    color: #595959;
    border-radius: 10px;
    border: none;
}

button:hover {
    color: black;
    cursor: pointer;
}

p {
   line-height: 2.5rem;
}

.more-links {
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 5rem 5rem;
    text-decoration: underline;
}

#latest-article:hover {
    color: black;
    transition: all .2s ease-out;
}
